:root{
    --bg-app:#0f0e13;
    --bg-tegs:rgb(101, 50, 248);
    --bg-check-active:rgb(101, 50, 248, 0.3);
    --text:rgb(243, 246, 249);
    --text-opacity:rgb(243, 246, 249, 0.3);
    --bg-content: rgb(35, 35, 35);
    --bg-item:rgb(58, 57, 57);
    --bg-item-active:rgb(49, 48, 48, 0.4);

    --color-primary-dark: #1a4d7e;
    --color-secondary: #e65e75;
    --color-neutral-light: #a49ebd;
    --color-neutral-1: #726c8a;
    --color-neutral: #2f2a43;
    --color-neutral-dark: #222031;
    --color-white: #ffffff;
    --color-black: #0f0e13;

    --font-family: "Arimo", sans-serif;

    --movie-width: 930px;
    --movie-padding: 225px
}


